@font-face {
  font-family: ltsr;
  src: url(./fonts/LTSuperior-Regular.otf);
}

@font-face {
  font-family: roboto;
  src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: inter;
  src: url(./fonts/Inter-Medium.ttf);
}

.heading {
  font-family: inter;
  font-weight: bold;
}

.paragraph {
  font-family: roboto;
}

.uicontrols {
  font-family: ltsr;
}

body {
  margin: 0;
}

.nav-bar-container {
  background: #282828;
  width: 15%;
  height: 1000px;
  position: fixed;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.nav-bar {
  list-style-type: none;
  margin: 0;
  width: 15%;
  position: fixed;
  top: 0;

}

.nav-bar li a {
  font-family: ltsr;
  color: #c5c5c5;
  font-size: 18px;
  width: 15%;
  margin-left: 8px;
}

.nav-bar li {
  padding: 3px;
  position: relative;
  top: 30px;
  padding: 15px;
  right: 40px;
  border-bottom: gray 3px solid;
  background: #2d2d2d;


}



.fmlogodisplay img {
  width:50%;
  margin-top:15px;
  margin-bottom: 0px;
  filter: brightness(0) invert(1);
  position: relative;
  display: block;


}

.addincome-pg button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
}

.nav-icon {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  display: inline;
  position: relative;
  top: 4px;
  margin-left: auto;
  margin-right: auto;
  filter: brightness(0) invert(1);
}


.page {
  display: inline;
}

.expense-dialog {
  display: none;
}

@media screen and (max-width: 1080px) {
  .fmlogodisplay img {
      position: relative;
      right: 5px;
  }
}


@media screen and (max-width: 980px) {
  .fmlogodisplay img {
      position: relative;
      right: 10px;
  }
}

@media screen and (max-width: 780px) {
  .fmlogodisplay img {
      position: relative;
      right: 15px;
  }
}

@media screen and (max-width: 580px) {
  .fmlogodisplay img {
    position: relative;
    right: 20px;
  }
}

@media screen and (max-width: 380px) {
  .fmlogodisplay img {
    position: relative;
    right: 30px;
  }
}

@media screen and (max-width: 880px) {
  .nav-bar li a {
      display: none;
  }

  .nav-bar li {
    text-align: center;
  }



}



body {
  overflow-x: hidden;
}

@media screen and (max-width: 900px) {
  body {
      overflow-x: scroll;
  }

}



/* Add Income page */


.addincome-pg {
  position: relative;
  margin-left: 15%;
  left: 35px;
  top: 40px;
}

.addincome-pg img {
  width: 500px;
  height: 150px;
}

.addincome-pg .statistics {
  position: absolute;
  top: 50px;
  right: 0;
  margin-right: 100px;
}

.addincome-pg .statistics p {
  position: relative;
  left: 70px;
}

.finalincome-p {
  position: relative;
  top: 200px;
  margin-bottom: 40px;
  font-size: 28px;
}

.addincome-pg input {
  border: none;
  padding: 6px;
}


.addincome-pg .statistics canvas {
  border: none;
  border-radius: 8px;
  width: 512px;
  height: 300px;
}

@media screen and (max-width: 1380px) {
  .addincome-pg .statistics {   /* do we need to fix this? It seems to make the chart overlap stuff */
      position: relative;
      left: 10px;
      width: 512px;
      height: 300px;
  }

  .addincome-pg .statistics h1 {
     text-align: left !important;;
  }

  .finalincome-p {
    position: relative;
    top: 400px;
    height: 100px;
  }

}

@media (prefers-color-scheme: dark) {


  body {
      background-color: #1a1a18;
  }

  .addincome-pg .statistics h1 {
      color: white;
  }

  .addincome-pg .statistics p {
      color: white;
  }
  .addincome-pg p {
      color: white;

  }

  .addincome-pg input {
    background-color: #3b3b3b;
    color: white;
  }

}

/* Add Expenses page */


.addexpenses-pg {
  position: relative;
  margin-left: 15%;
  left: 35px;
  top: 40px;
}

.addexpenses-pg img {
  width: 500px;
  height: 150px;
}

.addexpenses-pg .statistics {
  position: absolute;
  top: 50px;
  right: 0;
  margin-right: 100px;
}

.addexpenses-pg .statistics p {
  position: relative;
  left: 70px;
}

.finalexpenses-p {
  position: relative;
  top: 200px;
  font-size: 28px;
}

.addexpenses-pg button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
}


.addexpenses-pg .statistics canvas {
  border: none;
  width: 512px;
  height: 300px;
}

.addexpenses-pg input {
  border: none;
  padding: 6px;

}

@media screen and (max-width: 1380px) {
  .addexpenses-pg .statistics {
      position: relative;
      width: 512px;
      height: 300px;
  }


  .addexpenses-pg .statistics h1 {
      text-align: left !important;;
  }

  

  }

  @media (prefers-color-scheme: dark) {

  
    body {
        background-color: #1a1a18;
    }
  
    .addexpenses-pg .statistics h1 {
        color: white;
    }
  
    .addexpenses-pg .statistics p {
        color: white;
    }
    .addexpenses-pg p {
        color: white;
  
    }

    .addexpenses-pg input {
      background-color: #3b3b3b;
      color: white;
    }

    .addexpenses-pg select {
      background-color: #3b3b3b;
      color: white;
      border: none;
    }
  }


/* Dashboard page */

.dashboard-pg {
  position: relative;
  margin-left: 15%;
  left: 35px;
  top: 40px;
}

.dashboard-pg .blocks-container div {
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
  width: 600px;
  text-align: left;
}

.dashboard-pg .blocks-container .income-block {
  background-color: rgb(0, 255, 140);
}

.dashboard-pg .blocks-container .expenses-block {
  background-color: rgb(255, 128, 0);
  padding-bottom: 55px;
}

.dashboard-pg .blocks-container .investment-block {
  background-color: rgb(204, 0, 255);
}

.dashboard-pg .blocks-container canvas {
  float: right;
  width: 300px !important;
  height: 150px !important;
}

@media (prefers-color-scheme: dark) {
  
  .dashboard-pg .blocks-container .income-block {
    background-color: rgb(0, 110, 62);
  }
  
  .dashboard-pg .blocks-container .expenses-block {
    background-color: rgb(160, 80, 0);
    padding-bottom: 55px;
  }
  
  .dashboard-pg .blocks-container .investment-block {
    background-color: rgb(100, 1, 124);
  }

  .dashboard-pg p {
    color: white;
  }

}

/* Investments page */

.investments-pg {
  position: relative;
  margin-left: 15%;
  left: 35px;
  top: 40px;
}

.investments-pg img {
  width: 500px;
  height: 150px;
}

.investments-pg .statistics {
  position: absolute;
  top: 50px;
  right: 0;
  margin-right: 100px;
}

.investments-pg .statistics p {
  position: relative;
  left: 70px;
}

.investments-pg .statistics canvas {
  border: none;
  border-radius: 8px;
  width: 512px;
  height: 300px;
}

.investments-pg button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
}

.investments-pg input {
  border: none;
  padding: 6px;
}

@media screen and (max-width: 1380px) {
  .investments-pg .statistics {   /* do we need to fix this? It seems to make the chart overlap stuff */
      position: relative;
      left: 10px;
      width: 512px;
      height: 300px;
  }

  .investments-pg .statistics h1 {
     text-align: left !important;;
  }

}

@media (prefers-color-scheme: dark) {


  body {
      background-color: #1a1a18;
  }

  .investments-pg .statistics h1 {
      color: white;
  }

  .investments-pg .statistics p {
      color: white;
  }
  .investments-pg p {
      color: white;

  }

  .investments-pg input {
    background-color: #3b3b3b;
    color: white;
  }
}

  /* Settings page */

  .settings-pg {
    position: relative;
    margin-left: 15%;
    left: 35px;
    top: 40px;
  }

  .settings-pg input {
    border: none;
    padding: 8px;
  }

  .settings-pg button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    padding: 8px;
  }

  @media (prefers-color-scheme: dark) {


    body {
        background-color: #1a1a18;
    }
  
    .settings-pg p {
        color: white;
  
    }
  
    .settings-pg input {
      background-color: #3b3b3b;
      color: white;
    }
  }


